@import "../../../styles/mixins";
@import "../../../styles/commonClasses";
@import "../../../styles/typography";
@import "../../../styles/variables";

.root {
  height: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 0.8rem 1.63rem rgb(206, 11, 255, 0.25);
  background-color: white;
  @include displayFlex(row, 0, space-between, center);
  @extend .container;

  & > .navbarBrand {
    @extend .h2;
    @extend .primaryFontColor;
  }

  & > .primaryMenuContainer {
    @include displayFlex(row, 4.8rem, space-between);

    & > a {
      @extend .text;
    }
  }

  & > .secondaryMenuContainer {
    @include displayFlex(row, 2.5rem, space-between);

    & > a {
      @extend .text;
    }
  }
}
