@import "../../../styles/mixins";
@import "../../../styles/commonClasses";
@import "../../../styles/typography";
@import "../../../styles/variables";

.root {
  @extend .container;

  & > .navbar {
    padding-block: 3rem;
    padding-inline: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 0.8rem 1.63rem rgb(206, 11, 255, 0.25);
    background-color: white;
    @include displayFlex(row, 0, space-between, center);

    & > .navbarBrand {
      @extend .h2;
      @extend .primaryFontColor;
    }

    & > .primaryMenuContainer {
      @include displayFlex(row, 4.8rem, space-between);

      & > a {
        @extend .text;
      }
    }

    & > .secondaryMenuContainer {
      @include displayFlex(row, 2.5rem, space-between);

      & > a {
        @extend .text;
      }
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .root {
    & > .navbar {
      padding-block: 2.5rem;

      & > .primaryMenuContainer {
        gap: 2.5rem;
      }
    }
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .root {
    & > .navbar {
      padding-block: 1.8rem;

      & > .primaryMenuContainer,
      .secondaryMenuContainer {
        display: none;
      }
    }
  }
}

@media (min-width: $xs) and (max-width: $sm) {
  .root {
    & > .navbar {
      padding-block: 1.5rem;
      padding-inline: 2rem;

      & > .primaryMenuContainer,
      .secondaryMenuContainer {
        display: none;
      }

      & > .menuIcon {
        font-size: 1.6rem;
        color: #81008c;
      }
    }
  }
}
