@import "../../../styles/mixins";
@import "../../../styles/commonClasses";
@import "../../../styles/typography";

.root {
  padding-block: 14.6rem;
  @include displayFlex(column, 0, start, center);
  @extend .container;

  & > .contentContainer {
    @include displayFlex(row, 2.2rem, space-between, center);

    & > .leftContainer {
      width: 50%;
      padding-right: 10rem;
      @include displayFlex(column, 3.2rem);

      & > .title {
        @extend .h1;
        @extend .primaryFontColor;
      }

      & > .desc {
        @extend .text;
      }

      & > .socialButtonContainer {
        @include displayFlex(row, 1.2rem);
      }
    }

    & > .rightContainer {
      width: 50%;

      & > img {
        width: 100%;
      }
    }
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .root {
    padding-top: 12rem;
    gap: 3rem;

    & > .contentContainer {
      & > .leftContainer {
        padding-right: 5rem;
      }
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .root {
    padding-block: 10rem;
    gap: 3rem;

    & > .contentContainer {
      & > .leftContainer {
        padding-right: 0rem;
      }
    }
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .root {
    padding-top: 6rem;
    padding-bottom: 10rem;
    @include displayFlex(column, 3.5rem, center, center);

    & > .contentContainer {
      flex-wrap: wrap-reverse;
      gap: 0;
      & > .leftContainer,
      .rightContainer {
        width: 100%;
      }

      & > .leftContainer {
        padding-right: 0;
        gap: 2rem;
        align-items: center;

        & > .title {
          text-align: center;
          font-size: 3rem;
        }

        & > .desc {
          text-align: center;
          font-size: 1.6rem;
        }
      }

      & > .rightContainer {
        @include displayFlex(row, _, center, center);

        & > img {
          width: 60%;
        }
      }
    }
  }
}
