@import "variables";

@mixin primaryFontMedium {
  font-family: $default-font-family;
  font-weight: 500;
}

@mixin primaryFontBold {
  font-family: $default-font-family;
  font-weight: 700;
}

@mixin primaryFontSemiBold {
  font-family: $default-font-family;
  font-weight: 600;
}

@mixin primaryFontRegular {
  font-family: $default-font-family;
  font-weight: 400;
}

@mixin displayFlex(
  $direction,
  $gap: 0,
  $justifyContent: start,
  $alignItems: start
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
