@import "variables";
@import "mixins";

.h1 {
  @include primaryFontBold;
  font-size: 5rem;
  line-height: $primary-font-bold-line-height;
}

.h2 {
  @include primaryFontBold;
  font-size: 3rem;
  line-height: $primary-font-bold-line-height;
}

.h3 {
  @include primaryFontBold;
  font-size: 2.5rem;
  line-height: $primary-font-bold-line-height;
}

.h4 {
  @include primaryFontSemiBold;
  font-size: 2rem;
  line-height: $primary-font-semi-bold-line-height;
}

.h5 {
  @include primaryFontMedium;
  font-size: 2.5rem;
  line-height: $primary-font-medium-line-height;
}

.text {
  @include primaryFontRegular;
  font-size: 2rem;
  line-height: $primary-font-regular-line-height;
}
