@import "variables";
@import "mixins";

.h1 {
  @include primaryFontBold;
  font-size: 5rem;
  line-height: $primary-font-bold-line-height;
}

.h2 {
  @include primaryFontBold;
  font-size: 3rem;
  line-height: $primary-font-bold-line-height;
}

.h3 {
  @include primaryFontBold;
  font-size: 2.5rem;
  line-height: $primary-font-bold-line-height;
}

.h4 {
  @include primaryFontSemiBold;
  font-size: 2rem;
  line-height: $primary-font-semi-bold-line-height;
}

.h5 {
  @include primaryFontMedium;
  font-size: 2.5rem;
  line-height: $primary-font-medium-line-height;
}

.text {
  @include primaryFontRegular;
  font-size: 2rem;
  line-height: $primary-font-regular-line-height;
}

.button {
  @extend .h4;
}

@media (min-width: $lg) and (max-width: $xl) {
  .h1 {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .h3 {
    font-size: 2.2rem;
  }

  .h4 {
    font-size: 2rem;
  }

  .h5 {
    font-size: 2rem;
  }

  .text {
    font-size: 1.8rem;
  }

  .button {
    font-size: 1.5rem;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .h1 {
    font-size: 3.5rem;
  }

  .h2 {
    font-size: 2.2rem;
  }

  .h3 {
    font-size: 1.8rem;
  }

  .h4 {
    font-size: 1.8rem;
  }

  .h5 {
    font-size: 2rem;
  }

  .text {
    font-size: 1.6rem;
  }

  .button {
    font-size: 1.5rem;
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .h1 {
    font-size: 2.5rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.8rem;
  }

  .h4 {
    font-size: 1.5rem;
  }

  .h5 {
    font-size: 2rem;
  }

  .text {
    font-size: 1.4rem;
  }

  .button {
    font-size: 1.5rem;
  }
}

@media (min-width: $xs) and (max-width: $sm) {
  .h1 {
    font-size: 2.5rem;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .h3 {
    font-size: 1.8rem;
  }

  .h4 {
    font-size: 1.5rem;
  }

  .h5 {
    font-size: 2rem;
  }

  .text {
    font-size: 1.4rem;
  }

  .button {
    font-size: 1.5rem;
  }
}
