@import "../../../styles/variables";
@import "../../../styles/commonClasses";
@import "../../../styles/mixins";
@import "../../../styles/typography";

.root {
  padding-top: 15.8rem;
  background-color: $section-bg-color;
  @extend .container;

  & > .carouselContainer {
    margin-top: 2.4rem;
    @include displayFlex(column, 4rem, _, end);

    & .text {
      @extend .h4;
      color: $secondary-font-color;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .root {
    padding-top: 12rem;

    & > .carouselContainer {
      gap: 3rem;
    }
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .root {
    padding-top: 10rem;

    & > .carouselContainer {
      gap: 3rem;
    }
  }
}

@media (min-width: $xs) and (max-width: $sm) {
  .root {
    padding-top: 8rem;

    & > .carouselContainer {
      gap: 3rem;
    }
  }
}
