@import "../../../styles/commonClasses";
@import "../../../styles/mixins";
@import "../../../styles/typography";

.root {
  @extend .card;
  border-bottom: 0.5rem solid rgba(255, 154, 233, 0.59);
  padding: 4.3rem 5rem;

  & > .header {
    @include displayFlex(row, 3.2rem, _, center);

    & > img {
      height: 8.5rem;
      width: 8.5rem;
    }

    & > .namePlaceContainer {
      @include displayFlex(column, 0.8rem, center);

      & > .name {
        @extend .h2;
        @include primaryFontSemiBold;
      }

      & > .place {
        @extend .text;
      }
    }
  }

  & > .desc {
    margin-top: 3.2rem;
    @extend .text;
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .root {
    padding: 3.5rem;

    & > .header {
      & > .namePlaceContainer {
        & > .name {
          font-size: 2.3rem;
        }
      }
    }

    & > .desc {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .root {
    padding: 2.5rem;

    & > .header {
      gap: 2.5rem;

      & > img {
        height: 6.5rem;
        width: 6.5rem;
      }

      & > .namePlaceContainer {
        & > .name {
          font-size: 2rem;
        }
      }
    }

    & > .desc {
      font-size: 1.4rem;
      margin-top: 2.5rem;
    }
  }
}
