@import "../../../styles/variables";

$lgArrowGap: 0.7rem;
$lgArrowLength: 4rem;
$mdArrowGap: 0.6rem;
$mdArrowLength: 3.5rem;

.arrow {
  border-left: none;
  border-top: none;
}

.root {
  position: relative;
  transform: rotate(45deg);
  top: -$lgArrowLength;

  &:hover {
    cursor: pointer;

    div {
      border-color: white;
      border-width: 0.3rem;
    }
  }

  & > div {
    position: absolute;
    height: $lgArrowLength;
    width: $lgArrowLength;
    border: 0.4rem solid #f3bdbf;
  }

  & > :nth-child(1) {
    top: $lgArrowGap;
    left: $lgArrowGap;
    @extend .arrow;
  }
  & > :nth-child(2) {
    top: $lgArrowGap * 2;
    left: $lgArrowGap * 2;
    @extend .arrow;
  }
  & > :nth-child(3) {
    top: $lgArrowGap * 3;
    left: $lgArrowGap * 3;
    @extend .arrow;
  }
  & > :nth-child(4) {
    top: $lgArrowGap * 4;
    left: $lgArrowGap * 4;
    @extend .arrow;
  }
}

@media (min-width: $sm) and (max-width: $lg) {
  .root {
    top: -$mdArrowLength;

    & > div {
      height: $mdArrowLength;
      width: $mdArrowLength;
      border-width: 0.3rem;
    }

    & > :nth-child(1) {
      top: $mdArrowGap;
      left: $mdArrowGap;
    }
    & > :nth-child(2) {
      top: $mdArrowGap * 2;
      left: $mdArrowGap * 2;
    }
    & > :nth-child(3) {
      top: $mdArrowGap * 3;
      left: $mdArrowGap * 3;
    }
    & > :nth-child(4) {
      top: $mdArrowGap * 4;
      left: $mdArrowGap * 4;
    }
  }
}
