@import "../../../styles/mixins";
@import "../../../styles/commonClasses";

.root {
  width: 100%;
}

.slick-slide {
  padding-inline: 1.75rem;
}
.slick-track {
  margin-bottom: 2.4rem;
}
.slick-dots {
  @include displayFlex(row, 0.5rem);

  li {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #e4e4e4;

    button::before {
      content: "";
    }
  }

  .slick-active {
    background-color: #ce7fff;
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .slick-slide {
    padding-inline: 1.5rem;
  }
}
