@import "../../../styles/variables";

.root {
  padding: 1rem;
  border-radius: 1rem;
  border: none;

  &:hover {
    cursor: pointer;
  }

  & > svg {
    height: 2rem;
    width: 2rem;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .root {
    padding: 0.7rem;

    &:hover {
      cursor: pointer;
    }

    & > svg {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}
