@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/typography";
@import "../../../styles/commonClasses";

$wave-height: 5.5rem;
$wave-width: 80rem;

.root {
  padding-top: 25.2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: $wave-height;
    background-color: $body-bg-color;
    top: 0;
    mask-image: url("/images/assets/wave.svg");
    mask-size: $wave-width $wave-height;
  }

  & > .sectionContainer {
    @include displayFlex(row, 8.8rem);
    @extend .container;

    & > .leftContainer {
      @include displayFlex(column, 2.4rem);

      & > .title {
        @extend .text;
      }

      & > .desc {
        @extend .h2;
        color: $secondary-font-color;
      }
    }
  }
}
