@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/typography";
@import "../../../styles/commonClasses";

$wave-height: 4.5rem;
$wave-width: 55rem;

.root {
  padding-top: 25.2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: $wave-height;
    background-color: $body-bg-color;
    top: 0;
    mask-image: url("/images/assets/wave.svg");
    mask-size: $wave-width $wave-height;
  }

  & > .sectionContainer {
    @include displayFlex(row, 8.8rem);
    @extend .container;

    & > .leftContainer {
      width: 30%;
      @include displayFlex(column, 2.4rem);

      & > .title {
        @extend .text;
      }

      & > .desc {
        @extend .h2;
        color: $secondary-font-color;
      }
    }

    & > .rightContainer {
      width: 70%;
    }
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .root {
    padding-top: 18rem;
    & > .sectionContainer {
      gap: 5rem;

      & > .leftContainer {
        width: 30%;
      }
      & > .rightContainer {
        width: 70%;
      }
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .root {
    padding-top: 15rem;
    & > .sectionContainer {
      gap: 3rem;

      & > .leftContainer {
        width: 30%;
      }
      & > .rightContainer {
        width: 70%;
      }
    }
  }
}
